{% extends "base.html" %}
{% block body %}
<form>
    <div class="panel-heading">
        <h3 class="text-muted">Notícias</h3>
        <img width="100%" src="static/img/home.jpg" alt="..." class="rounded">
    </div>
    <div class="card-deck">
        <p align="center">
            <a href="{% url 'add_post' %}" class="btn btn-primary">Adicionar Post</a>
        </p>

        {% for post in posts %}
        <div class="card" align="center">
            <img class="card-img-top" width="100%" src="static/img/navigation.jpg" alt="Imagem de capa do card">
            <div class="card-body">
                <h3 class="card-title"><a href="{% url 'detail_post' post.id %}">{{ post.title }}</a></h3>
                <p>{{post.email}}</p>
                <p class="card-text">{{post.text|linebreaksbr}}</p>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-primary btn-lg btn-block">Editar</a>
            </div>
            <div class="card-footer text-muted">
                {{post.date_published}}
            </div>
            <hr>
        </div>
        {% endfor %}

    </div>
</form>
{% endblock %}


